@charset "UTF-8";

#elenco
{
	position: absolute;
	top: 35%;
	left: 40%;
	right: 40%;
	bottom: 50%;
}


#bottonevai
{
	position: absolute;
	top: 60%;
	left: 40%;
	right: 40%;
	bottom: 20%;
	font-size: 20px;
	padding: 20px 40px;
	background-color: #87ff85;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
	box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
	border: none;
	letter-spacing: 2.5px;
}


#bottonevai:hover
{
	box-shadow: 0px 15px 20px rgba(46,229,157,0.4);
	color: #87ff25;
	background-color: #87ba54;
	transform: translateY(-7px);
}


#titolo
{
	text-align:center;
	color: blue;
	font-size:300%;
	text-shadow: 3px 2px red;
}

#sottotitolo
{
	color: black;
	font-size: 150%;
	text-align: center;
}
